// Welcome to the HTML5 Boilerplate SASS File
// this is an attempt to make the html5 boilerplate go sass-arriffic
// feel free to help make it better and more efficient for us sassers


// HTML5 Boilerplate
// What follows is the result of much research on cross-browser styling.
// Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
// Kroc Camen, and the H5BP dev community and team.


// ==========================================================================
// $Compass
// ==========================================================================

@import "compass";

// ==========================================================================
// $Vars
// ==========================================================================

@import "partials/vars";


// ==========================================================================
// $Normalize
// ==========================================================================

@import "partials/normalize";


// ==========================================================================
// $Functions
// ==========================================================================

@import "partials/functions";


// ==========================================================================
// $Mixins
// ==========================================================================

@import "partials/mixins";


// ==========================================================================
// $Placeholders
// ==========================================================================

@import "partials/placeholders";


// ==========================================================================
// $Typography
// ==========================================================================

@import "partials/typography";


// ==========================================================================
// $Icons
// ==========================================================================

// custom icons
@import "partials/icons";


// ==========================================================================
// $HTML5 Boilerplate Main Sass Variables
// ==========================================================================

// Anchors
$linkColor: #00e;
$linkVisitedColor: #551a8b;
$linkHoverColor: #06e;
$focusStyle: thin dotted;
$activeStyle: 0;
$selectionColor: #b3d4fc;


// ==========================================================================
// $Base styles: opinionated defaults
// ==========================================================================

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: $linkColor;
}

a:visited {
    color: $linkVisitedColor;
}

a:hover {
    color: $linkHoverColor;
}

a:focus {
    outline: $focusStyle;
}

// Improve readability when focused
// and hovered in all browsers: h5bp.com/h
a:hover,
a:active {
    outline: $activeStyle;
}

// Remove text-shadow in selection highlight: h5bp.com/i
// These selection declarations have to be separate.
// Customize the background color to match your design.
::-moz-selection {
    background: $selectionColor;
    text-shadow: none;
}

::selection {
    background: $selectionColor;
    text-shadow: none;
}

// A better looking default horizontal rule
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

// Remove the gap between images and the bottom of their containers: h5bp.com/i/440
img {
    vertical-align: middle;
}

// Remove default fieldset styles
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

// Allow only vertical resizing of textareas
textarea {
    resize: vertical;
}


// ==========================================================================
// $Globals
// ==========================================================================

* {
    // Box Sizing FTW
    @include box-sizing(border-box);
}

body {
    font: normal 100%/1.5 Helvetica, sans-serif;
}

img,
iframe,
object,
embed,
video {
    height: auto;
    max-width: 100%;
}


// ==========================================================================
// $Stripe
// ==========================================================================

.stripe {
    overflow: auto;
    position: relative;
    &:nth-child(3) {
        background: darken(#EFEFEF, 5%);
    }
    &:nth-child(4) {
        background: darken(#EFEFEF, 10%);
    }
    &:nth-child(5) {
        background: darken(#EFEFEF, 15%);
    }
    &:nth-child(6) {
        background: darken(#EFEFEF, 20%);
    }
}


// ==========================================================================
// $Grid
// ==========================================================================
// Reference
// Demo: http://codepen.io/lesjames/pen/ClsdE
// Article: http://24ways.org/2012/redesigning-the-media-query

@media screen {
    // Grid based on Gridddle by Nicolas Gallagher (@necolas)
    // https://github.com/necolas/griddle
    .wrapper {
        margin-left: auto;
        margin-right: auto;
        padding-left: em($grid-gutter);
        padding-right: em($grid-gutter);
    }
    .grid {
        display: block;
        padding: 0;
        margin: 0 -0.5 * em($grid-gutter);
        text-align: left;
        text-rendering: optimizespeed;
    }

    // Note - this class uses Compass includes
    .grid-cell {
        width: 100%;
        @include inline-block;
        @include box-sizing(border-box);
        margin: 0;
        padding: 0 0.5 * em($grid-gutter);
        vertical-align: top;
        text-align: left;
        letter-spacing: normal;
        word-spacing: normal;
        text-rendering: auto;
    }

    // create mq to fit columns
    @mixin breakpoint($min) {
        @media (min-width: fixed($min) + em($grid-gutter)) {

            // create a fixed width centered layout
            .wrapper {
                width: fixed($min) - em($grid-gutter);
                margin-left: auto;
                margin-right: auto;
            }

            // css gradient overlay to help visualize columns
            // Note - this class uses Compass includes
            .index::after {
                content: '';
                position: fixed;
                top: 0; bottom: 0;
                pointer-events: none;
                left: 50%;
                width: fixed($min) + em($grid-gutter);
                margin-left: fixed($min) / -2 - (em($grid-gutter)/2);

                // Turns Grid on or off
                @include background(linear-gradient(left, transparent $grid-gutter, transparentize(red, .8) $grid-gutter, transparentize(red, .8) $grid-gutter + $grid-column));
                @include background-size($grid-gutter + $grid-column);
            }

            // sass content block variable
            @content
        }
    }

    /* create 5 column fixed layout */
    @include breakpoint(5) {}

    /* create 8 column layout with sidebar */
    @include breakpoint(8) {
        .main { width: fixed(5); }
        .sidebar { width: fixed(3); }
    }

    /* create 12 column layout with sidebar */
    @include breakpoint(12) {
        .main { width: fixed(8); }
        .sidebar { width: fixed(4); }
    }
}


// ==========================================================================
// $Primary Header
// ==========================================================================

//.primary-header {}


// ==========================================================================
// $Logo
// ==========================================================================

#logo {
    @media screen and (max-width: 48.25em) {
        float: left;
    }
}


// ==========================================================================
// $Primary Navigation
// ==========================================================================

//.primary-nav-list {}
//.primary-nav-link {}

@media screen {
    // Toggle Trigger
    .menu-link {
        float: right;
        display: block;
        padding: 1em;
        // JS Disabled
        .no-js & {
            @media screen and (max-width: 48.25em) {
                display: none;
            }
        }
        @media screen and (min-width: 48.25em) {
            display: none;
        }
    }

    // Primary Navigation
    .primary-nav {
        clear: both;
        @include transition(all 0.3s ease-out);
        ul {
            margin: 0;
            padding: 0;
            border-top: 1px solid #808080;
            @media screen and (min-width: 48.25em) {
                margin: 0 0 0 -0.25em;
                border: 0;
            }
            li {
                @media screen and (min-width: 48.25em) {
                    display: inline-block;
                    margin: 0 0.25em;
                }
                a {
                    display: block;
                    padding: 0.8em;
                    border-bottom: 1px solid #808080;
                    @media screen and (min-width: 48.25em) {
                        border: 0;
                    }
                }
            }
        }

        // JS Enabled
        .js & {
            overflow: hidden;
            max-height: 0;
            @media screen and (min-width: 48.25em) {
                max-height: none;
            }
        }

        // Active State
        &.active {
            max-height: 15em;
        }
    }
}


// ==========================================================================
// $Hero
// ==========================================================================

//.hero {}


// ==========================================================================
// $Learn
// ==========================================================================

.subjects {
    height: 350px;
    h1 {
        margin-bottom: 0;
    }
}

#techList {
    height: 280px;
    width: 50%;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    color: #666;
    li {
        position: absolute;
        top: 0;
        left: 0;
        font-size: .80em;
    }
}

.html5 {
    font-weight: 700;
    letter-spacing: -.05em;
    color: #333;
    @include transform(scale(7.5, 7.8) translate(1.18em, .68em));
}

.javascript {
    letter-spacing: -.04em;
    font-weight: 400;
    @include transform(scale(1.4) rotate(90deg) translate(3.88em, -13.2em));
}

.accessibility {
    letter-spacing: -.05em;
    font-weight: 300;
    @include transform(scale(1.4, 1.33) rotate(90deg) translate(4.1em, -18.0em));
}

.responsive {
    font-weight: 300;
    letter-spacing: -.03em;
    word-spacing: .3em;
    @include transform(scale(2) translate(2.12em, 5.14em));
}

.usability {
    font-weight: 400;
    letter-spacing: -.04em;
    @include transform(scale(2.85, 3) translate(7.14em, 3.55em));
}

.ajax {
    letter-spacing: -0.01em;
    font-weight: 700;
    @include transform(scale(2.4, 2.3) rotate(90deg) translate(6em, -5.8em));
}

.css3 {
    letter-spacing: .01em;
    font-weight: 700;
    color: #333;
    @include transform(scale(6.8, 6.75) rotate(90deg) translate(1.32em, -4.54em));
}

.jquery {
    letter-spacing: 0.045em;
    font-weight: 700;
    @include transform(scale(3.88, 3.8) translate(5.42em, 3.72em));
}

.objectoriented {
    font-weight: 700;
    letter-spacing: -.010em;
    @include transform(scale(1.85, 1.9) translate(1.86em, 6.5em));
}

.wordpress {
    font-weight: 300;
    letter-spacing: -0.05em;
    @include transform(scale(2.75, 3) translate(1.72em, 4.95em));
}

.seo {
    font-weight: 300;
    letter-spacing: -0.07em;
    @include transform( scale(3.9, 4) translate(6.05em, .95em) );
}

.crossbrowser {
    font-weight: 700;
    letter-spacing: 0.1em;
    word-spacing: .2em;
    @include transform( scale(2) translate(2.28em, 8.58em) );
}

.webstandards {
    font-weight: 300;
    letter-spacing: 0em;
    word-spacing: .1em;
    @include transform( scale(2) translate(12.7em, 8.6em) );
}

.jg {
    color: #333;
    font-weight: 700;
    letter-spacing: -.03em;
    @include transform( scale(3.4) translate(7.03em, 2.15em) );
}

.skills {
    color: #333;
    font-weight: 700;
    letter-spacing: -.03em;
    @include transform( scale(1.8) translate(9.95em, 9.55em) );
}


// ==========================================================================
// $Nextplex
// ==========================================================================

.join-us {
    @extend %btn;
    @include background(linear-gradient(top, #a2d3e9, #7abedf));
    box-shadow:
      -1px 0px 1px #6fadcb, 0px 1px 1px #54809d,
      -2px 1px 1px #6fadcb, -1px 2px 1px #54809d,
      -3px 2px 1px #6fadcb, -2px 3px 1px #54809d,
      -4px 3px 1px #6fadcb, -3px 4px 1px #54809d,
      -5px 4px 1px #6fadcb, -4px 5px 1px #54809d,
      -6px 5px 1px #6fadcb,
      -6px 7px  0 rgba(black, 0.05),
      -5px 8px  0 rgba(black, 0.05),
      -3px 9px  0 rgba(black, 0.04),
      -2px 10px 0 rgba(black, 0.04),
      -1px 11px 0 rgba(black, 0.03),
       0px 12px 0 rgba(black, 0.03),
       1px 13px 0 rgba(black, 0.02),
       2px 14px 0 rgba(black, 0.02),
       3px 15px 0 rgba(black, 0.01),
       4px 16px 0 rgba(black, 0.01),
       5px 17px 0 rgba(black, 0.01),
       6px 18px 0 rgba(black, 0.01),
    inset 0 4px 5px -2px rgba(white, 0.5),
    inset 0 1px 0 0 rgba(black, 0.3);
}


// ==========================================================================
// $Google Map
// ==========================================================================

// From http://codepen.io/chriscoyier/full/kycDp
.map-container {
    width: 100%;
    margin: 0 auto;
    height: 0;
    padding-top: 38%;
    position: relative;
    display: none; // Hide for small screens
    // Medium Screens
    @media all and (min-width: 34.375em) {
        display: block;
    }
}

.google-map {
    width: 100%;
    // had to specify height/width
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.static-map-img {
    display: block;
    // Medium Screens
    @media all and (min-width: 34.375em) {
        display: none;
    }
}

.map-link {
    @extend %btn;
    margin: 1.5em 0;
        @include background(linear-gradient(
       top, #f2d851, #ecc92b
    ));
    color: black;
    text-shadow: -2px 2px 0 rgba(white, 0.3);
    box-shadow:
      -1px 0px 1px #d9b826, 0px 1px 1px #b1961d,
      -2px 1px 1px #d9b826, -1px 2px 1px #b1961d,
      -3px 2px 1px #d9b826, -2px 3px 1px #b1961d,
      -4px 3px 1px #d9b826, -3px 4px 1px #b1961d,
      -5px 4px 1px #d9b826, -4px 5px 1px #b1961d,
      -6px 5px 1px #d9b826,

      -6px 7px  0 rgba(black, 0.05),
      -5px 8px  0 rgba(black, 0.05),
      -3px 9px  0 rgba(black, 0.04),
      -2px 10px 0 rgba(black, 0.04),
      -1px 11px 0 rgba(black, 0.03),
       0px 12px 0 rgba(black, 0.03),
       1px 13px 0 rgba(black, 0.02),
       2px 14px 0 rgba(black, 0.02),
       3px 15px 0 rgba(black, 0.01),
       4px 16px 0 rgba(black, 0.01),
       5px 17px 0 rgba(black, 0.01),
       6px 18px 0 rgba(black, 0.01),

       inset 0 4px 5px -2px rgba(white, 0.5),
       inset 0 1px 0 0 rgba(black, 0.3);
}


// ==========================================================================
// $Footer
// ==========================================================================

.social-networks {
    @extend %list-reset;
}

.vcard {
    @extend %list-reset;
}

.discussion-content {
    padding-left: 0;
    li {
        float: left;
        list-style-type: none;
        width: 50%;
    }
}


// ==========================================================================
// $IcoMoon
// ==========================================================================

[data-icon],
[class^="icon"] {
    // http://maxvoltar.com/archive/-webkit-font-smoothing
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 2em;
}



// ==========================================================================
// $Viewport
// ==========================================================================

// http://dev.w3.org/csswg/css-device-adapt/
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
// for IE10 Snap Mode on Metro
@-ms-viewport {
    width: device-width;
}


// ==========================================================================
// $Helper classes
// ==========================================================================

// About This Special Sass Section:
// Instead of actually using classes that are kept throughout our compiled CSS,
// we use Sass' '%placeholders' and call upon the element we wish to extend like so...
//
// .myelement { @extend %visuallyhidden; }
// or
// #my-other-element { @extend %visuallyhidden; }

// Image replacement
%ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    // IE 6/7 fallback
    *text-indent: -9999px;

    &:before {
        content: "";
        display: block;
        width: 0;
        height: 100%;
    }
}

// Hide from both screenreaders and browsers: h5bp.com/u
%hidden {
    display: none !important;
    visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
%visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    // Extends the .visuallyhidden class to allow the element to be focusable
    // when navigated to via the keyboard: h5bp.com/p
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

// Hide visually and from screenreaders, but maintain layout
%invisible {
    visibility: hidden;
}

// Clearfix: contain floats
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    `contenteditable` attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that receive the `clearfix` class.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements
%clearfix {
    // For IE 6/7 only
    // Include this rule to trigger hasLayout and contain floats
    *zoom: 1;

    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}


// ==========================================================================
// $Print Styles
// Inlined to avoid required HTTP connection: h5bp.com/r
// ==========================================================================

@media print {
    * {
        background: transparent !important;
        color: #000 !important; // Black prints faster: h5bp.com/s
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    // Don't show links for images, or javascript/internal links

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; // h5bp.com/t
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}