// Welcome to the HTML5 Boilerplate SASS File
// this is an attempt to make the html5 boilerplate go sass-arriffic
// feel free to help make it better and more efficient for us sassers


// HTML5 Boilerplate
// What follows is the result of much research on cross-browser styling.
// Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
// Kroc Camen, and the H5BP dev community and team.


// ==========================================================================
// $Compass
// ==========================================================================

@import "compass";

// ==========================================================================
// $Vars
// ==========================================================================

@import "partials/vars";


// ==========================================================================
// $Normalize
// ==========================================================================

@import "partials/normalize";


// ==========================================================================
// $Functions
// ==========================================================================

@import "partials/functions";


// ==========================================================================
// $Mixins
// ==========================================================================

@import "partials/mixins";


// ==========================================================================
// $Placeholders
// ==========================================================================

@import "partials/placeholders";


// ==========================================================================
// $Typeplate
// ==========================================================================

@import "partials/typeplate";


// ==========================================================================
// $Typography
// ==========================================================================

@import "partials/typography";


// ==========================================================================
// $Icons
// ==========================================================================

// custom icons
@import "partials/icons";


// ==========================================================================
// $HTML5 Boilerplate Main Sass Variables
// ==========================================================================

// Anchors
$linkColor: gray;
$linkVisitedColor: $linkColor;
$linkHoverColor: lighten($linkColor, 10%);
$focusStyle: thin dotted;
$activeStyle: 0;
$selectionColor: #503726;


// ==========================================================================
// $Base styles: opinionated defaults
// ==========================================================================

html,
button,
input,
select,
textarea {
	color: #222;
}

a {
	text-decoration: none;
	color: $linkColor;
}

a:visited {
	color: $linkVisitedColor;
}

a:hover {
	color: $linkHoverColor;
}

a:focus {
	outline: $focusStyle;
}

// Improve readability when focused
// and hovered in all browsers: h5bp.com/h
a:hover,
a:active {
	outline: $activeStyle;
}

// Remove text-shadow in selection highlight: h5bp.com/i
// These selection declarations have to be separate.
// Customize the background color to match your design.
::-moz-selection {
	background: $selectionColor;
	color: #EFEFEF;
	text-shadow: none;
}

::selection {
	background: $selectionColor;
	color: #EFEFEF;
	text-shadow: none;
}

// A better looking default horizontal rule
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

// Remove the gap between images and the bottom of their containers: h5bp.com/i/440
img {
	vertical-align: middle;
}

// Remove default fieldset styles
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

// Allow only vertical resizing of textareas
textarea {
	resize: vertical;
}


// ==========================================================================
// $Globals
// ==========================================================================

* {
	// Box Sizing FTW
	@include box-sizing(border-box);
}

img,
iframe,
object,
embed,
video {
	height: auto;
	max-width: 100%;
}


// ==========================================================================
// $Wrap Container
// ==========================================================================

.wrap {
	margin: auto auto;
	max-width: 1024px;
	width: 100%;
	@media screen and (max-width: 65em) {
		padding: 0 5%;
	}
}


// ==========================================================================
// $Stripe
// ==========================================================================

.stripe,
.stripe.footer {
	overflow: auto;
}

#main-content .stripe,
.stripe.footer {
	padding: 1.5em 0;
}

.stripe {
	#main-content & {
		&:nth-child(1) {
			background: darken(#EFEFEF, 5%);
		}
		&:nth-child(2) {
			background: darken(#EFEFEF, 10%);
		}
		&:nth-child(3) {
			background: darken(#EFEFEF, 15%);
		}
	}
}

.stripe.footer {
	background: darken(#EFEFEF, 20%);
}


// ==========================================================================
// $Primary Header
// ==========================================================================

// header
.primary-header {
	@media screen and (min-width: 48.25em) {
		position: relative;
	}
}


// ==========================================================================
// $Logo
// ==========================================================================

#logo {
	margin: 0.4125em auto;
	a {
		display: inline-block;
		height: 210px;
		width: 200px;
		text-indent: -9999em;
		background: image-url("logo.png") top left no-repeat;
		background-size: 200px;
	}
	@media screen and (max-width: 48.25em) {
		float: left;
	}
}


// ==========================================================================
// $Primary Navigation
// ==========================================================================

//.primary-nav-list {}
//.primary-nav-link {}

// Toggle Trigger
.menu-link {
	float: right;
	display: block;
	padding: 1em;
	// JS Disabled
	.no-js & {
		@media screen and (max-width: 48.25em) {
			display: none;
		}
	}
	@media screen and (min-width: 48.25em) {
		display: none;
	}
}

// Primary Navigation
.primary-nav {
	clear: both;
	@include transition(0.3s all ease-out);
	@media screen and (min-width: 48.25em) {
		position: absolute;
		top: -1.65em;
		right: 0;
		// background: #e5e5e5;
		// background: rgba(0, 0, 0, 0.10);
	}
	ul {
		border-top: 1px solid #808080;
		margin: 0;
		padding: 0;
		@media screen and (min-width: 48.25em) {
			border: 0;
			margin: 0 0 0 -0.25em;
		}
		li {
			@media screen and (min-width: 48.25em) {
				display: inline-block;
			}
			a {
				display: block;
                margin: 0 em(4px) 0 em(4px);
				padding: 0.8em;
				border-bottom: 1px solid #808080;
                font-size: em(23px);
				@media screen and (min-width: 48.25em) {
					border: 0;
				}
			}
		}
	}

	// JS Enabled
	.js & {
		overflow: hidden;
		max-height: 0;
		@media screen and (min-width: 48.25em) {
			max-height: none;
		}
	}

	// Active State
	&.active {
		max-height: 15em;
	}
}

.primary-nav-link {
	&:not(:first-child) {
		margin-left: -.25em;
	}
	@media screen and (min-width: 48.25em) {
		-webkit-animation: spin 1.75s 2;
	}
	a {
		@include transition($transition-1: .3s background ease-in-out, $transition-2: .3s color ease-in-out);
		&:hover {
			@media screen and (min-width: 48.25em) {
                height: em(135px);
                background: #e5e5e5;
                background: rgba(0, 0, 0, 0.10);
				color: #333;
			}
		}
	}
}


// ==========================================================================
// $Hero
// ==========================================================================

.hero {
	padding-bottom: 1.65em;
}

.callout-txt {
	max-width: 28em;
}


// ==========================================================================
// $Nextplex
// ==========================================================================

.join-us {
	@extend %btn;
}


// ==========================================================================
// $Google Map
// ==========================================================================

// From http://codepen.io/chriscoyier/full/kycDp
.map-container {
	width: 100%;
	margin: 0 auto;
	height: 0;
	padding-top: 38%;
	position: relative;
	display: none; // Hide for small screens
	// Medium Screens
	@media all and (min-width: 34.375em) {
		display: block;
	}
}

.google-map {
	width: 100%;
	// had to specify height/width
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.static-map-img {
	display: block;
	// Medium Screens
	@media all and (min-width: 34.375em) {
		display: none;
	}
}

.map-link {
	@extend %btn;
}


// ==========================================================================
// $Footer
// ==========================================================================

.social-networks {
	@extend %list-reset;
}

.vcard {
	@extend %list-reset;
}

.discussion-content {
	padding-left: 0;
	li {
		list-style-type: none;
		@media screen and (min-width: 42em) {
			float: left;
			list-style-type: none;
			width: 50%;
		}
	}
}


// ==========================================================================
// $IcoMoon
// ==========================================================================

[data-icon],
[class^="icon"] {
	// http://maxvoltar.com/archive/-webkit-font-smoothing
	-webkit-font-smoothing: subpixel-antialiased;
	font-size: 2em;
}


// ==========================================================================
// $Viewport
// ==========================================================================

// http://dev.w3.org/csswg/css-device-adapt/
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
// for IE10 Snap Mode on Metro
@-ms-viewport {
	width: device-width;
}


// ==========================================================================
// $Helper classes
// ==========================================================================

// About This Special Sass Section:
// Instead of actually using classes that are kept throughout our compiled CSS,
// we use Sass' '%placeholders' and call upon the element we wish to extend like so...
//
// .myelement { @extend %visuallyhidden; }
// or
// #my-other-element { @extend %visuallyhidden; }

// Image replacement
%ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	// IE 6/7 fallback
	*text-indent: -9999px;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 100%;
	}
}

// Hide from both screenreaders and browsers: h5bp.com/u
%hidden {
	display: none !important;
	visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
%visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	// Extends the .visuallyhidden class to allow the element to be focusable
	// when navigated to via the keyboard: h5bp.com/p
	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}

// Hide visually and from screenreaders, but maintain layout
%invisible {
	visibility: hidden;
}

// Clearfix: contain floats
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    `contenteditable` attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that receive the `clearfix` class.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements
%clearfix {
	// For IE 6/7 only
	// Include this rule to trigger hasLayout and contain floats
	*zoom: 1;

	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}


// ==========================================================================
// $Print Styles
// Inlined to avoid required HTTP connection: h5bp.com/r
// ==========================================================================

@media print {
	* {
		background: transparent !important;
		color: #000 !important; // Black prints faster: h5bp.com/s
		box-shadow:none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	// Don't show links for images, or javascript/internal links

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; // h5bp.com/t
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
