// ==========================================================================
// $List Reset
// ==========================================================================

%list-reset {
    list-style-type: none;
    padding: 0;
    li {
        display: inline-block;
    }
}


// ==========================================================================
// $Button Module
// ==========================================================================

%btn {
    border-radius: 4px;
    display: block;
    margin: .75em 0;
    padding: 1em .5em;
    text-align: center;
    text-transform: uppercase;
    max-width: 10em;
    background: gray;
    color: white;
    &:hover {
        background: lighten(gray, 5%);
        color: white;
    }
}