// ==========================================================================
// $Google Web Font
// ==========================================================================

$custom-title-font: 'Fjalla One', sans-serif;


// ==========================================================================
// $Globals
// ==========================================================================

body {
    font: normal 100%/1.5 HelveticaNeue, Helvetica, sans-serif;
}


// ==========================================================================
// $Headline Titles
// ==========================================================================

h1,h2,h3,h4,h5,h6 {
    font-family: $custom-title-font;
    font-weight: 400;
    text-transform: uppercase;
}