// ==========================================================================
// $Google Web Font
// ==========================================================================

$custom-title-font: 'Fjalla One', sans-serif;


// ==========================================================================
// $Settings
// ==========================================================================
$grid-column: 60px;
$grid-gutter: 20px;